<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.userauth.mapper.BaseUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.userapi.bean.BaseUser">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="phone" property="phone"/>
        <result column="email_status" property="emailStatus"/>
        <result column="email" property="email"/>
        <result column="qq_status" property="qqStatus"/>
        <result column="qq_link" property="qqLink"/>
        <result column="wx_status" property="wxStatus"/>
        <result column="wx_link" property="wxLink"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_lock" property="isLock"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nick_name, user_name, phone, email_status, email, qq_status, qq_link, wx_status, wx_link,
        create_date, modify_date, is_delete, is_lock, content
    </sql>
    <select id="selectUserByUsername" resultType="com.maple.userapi.bean.BaseUser">
        select id, user_name, pass_word, is_lock
        from base_user
        where user_name = #{username}
    </select>

</mapper>
