<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.user.dao.BaseRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.userapi.bean.BaseRole">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_code" property="roleCode"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_delete" property="isDelete"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_code, create_date, modify_date, is_delete, status, remark
    </sql>

    <select id="listRolesByUserId" resultType="com.maple.userapi.bean.BaseRole">
        SELECT
        r.*
        FROM
        base_role r,
        base_user_role ur
        WHERE
        r.id = ur.role_id
        AND r.is_delete = 0
        AND r.status = 0
        AND ur.user_id = #{id}
    </select>
    <select id="getRolePage" resultType="com.maple.userapi.bean.BaseRole">
        select
        <include refid="Base_Column_List"></include>
        from base_role
        <where>
            <if test="role != null">
                <if test="role.roleName != null and role.roleName != ''">
                    and role_name like concat('%',#{role.roleName},'%')
                </if>
            </if>
        </where>
    </select>
    <delete id="deleteByIds">
        delete from base_role
        where id in
        <foreach collection="idArr" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
