<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.cloud.manage.mapper.ConfigPropertiesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.system.api.bean.ConfigProperties">
        <id column="id" property="id" />
        <result column="key1" property="key1" />
        <result column="value1" property="value1" />
        <result column="application" property="application" />
        <result column="profile" property="profile" />
        <result column="label" property="label" />
        <result column="sort" property="sort" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="create_id" property="createId" />
        <result column="modify_id" property="modifyId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, key1, value1, application, profile, label, sort, create_date, modify_date, create_id, modify_id, remark
    </sql>

</mapper>
