<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.cloud.manage.mapper.GatewayDefineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.system.api.bean.GatewayDefine">
        <id column="id" property="id" />
        <result column="uri" property="uri" />
        <result column="predicates" property="predicates" />
        <result column="filters" property="filters" />
        <result column="eureka_id" property="eurekaId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uri, predicates, filters, eureka_id
    </sql>

</mapper>
